.about {
    background-color: transparent;
}

.about-text p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: var(--spacing-md);
    color: var(--white);
    font-weight: 500;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Make every second paragraph slightly lighter */
.about-text p:nth-child(2) {
    color: var(--gray);
}

.about-text p:last-child {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #666;
}

@media (max-width: 768px) {
    .about-text p {
        font-size: 1.5rem;
    }

    .about-text p:last-child {
        font-size: 1.2rem;
    }
}