.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

/* Hide on mobile */
@media (max-width: 768px) {

    .cursor-outline,
    .cursor-dot {
        display: none;
    }
}